#ball {
    z-index: 9;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff9c85;
    transform: translate(-20px, -20px);
    pointer-events: none;
    transition: width .3s, height .3s, background-color .3s, opacity .3s;
  }
  #ball.cotton-active {
    width: 60px;
    height: 60px;
    background-color: #333;
    opacity: .6;
  }

section {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  }
  #image1, #image2 {
    margin: 0;
  }
  #image1 {
    position: absolute;
    top: 10%;
    opacity: 0.5;
  }
